#root ,html ,body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App{
  height: 100%;
  display: flex;
  background: #2A7B9B;
  background: linear-gradient(70deg, rgba(42, 123, 155, 1) 0%, rgba(88, 122, 101, 1) 52%, rgba(101, 130, 99, 1) 64%, rgba(237, 221, 83, 1) 100%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card{
  background-color: whitesmoke;
  min-width: 40%;
  width: fit-content;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}
